<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Joyeria Tellas</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="cliente">Cliente</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="venta">Venta</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="nuevo">Nuevo cliente-venta</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="abono">Abono</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="reporte">Reportes</a></li>
        </ul>



    </div>


</nav>