<div class="container">
  <h3 mat-dialog-nombre>Id de cliente: {{data.idCliente}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" maxlength="20" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Apellido Paterno" [(ngModel)]="data.apellidoPaterno" name="apellidoPaterno" maxlength="20" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Apellido Materno" [(ngModel)]="data.apellidoMaterno" name="apellidoMaterno" maxlength="20"  >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

 
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Edad" [(ngModel)]="data.edad" name="edad" type="number" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Sexo" [(ngModel)]="data.sexo" name="sexo" type="string " maxlength="9">
        <mat-hint >{{data.sexo?.length || 0}}/8</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="RFC" [(ngModel)]="data.rfc" name="rfc" type="string " maxlength="6" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="updateCliente()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
