<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">  
  <ul class="navbar-nav">
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">No llamar</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/listar" class="nav-link">Listar</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Agregar clientes</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Entrar</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Salir</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/gestionComponent" class="nav-link">Gestión clientes</a></li>

  
  
  </ul>
  
  </nav>
  
  </header>