<h5 class="h5">Gestión producto</h5>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Detalle</th>
        <th scope="col" *ngIf="user === 'admin'">Editar</th>
        <th scope="col" *ngIf="user === 'admin'">Borrar</th>
      </tr>


    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{producto.idProducto}}</td>
        <td>{{producto.descripcion}}</td>
        <td><button class="btn btn-primary" routerLink="/detalleProducto/{{producto.idProducto}}">Ver</button></td>
        <td *ngIf="user === 'admin'"><button class="btn btn-warning"
            routerLink="/editarProducto/{{producto.idProducto}}">Editar</button></td>
        <td *ngIf="user === 'admin'"><button class="btn btn-danger"
            (click)="onDelete(producto.idProducto)">Borrar</button></td>
      </tr>
    </tbody>
  </table>
  <div><button class="btn btn-success btn-lg" routerLink="/nuevoProducto">Agregar producto</button>
  </div>


  <!-- <div class="flota_izq margin_left36">
    <div class="tooltip margin-tool">
      <span class="tooltiptext">
        <div class="ico_pdf" (click)="generaPDF()">
          <p>PDF</p>
        </div>
      </span>
    </div>
  </div>-->

  <div *ngIf="documentoCreado"  class="alert alert-success">
    <p>OK: {{mensajeOK}}</p>
  </div>
</div>


<!--<div *ngIf="documentoCreado" class="alert alert-success" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>
</div>-->


<div style="text-align:center">
  <button (click)="generaPDF()">
    Generar reporte</button>
</div>